

@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post))
{
    <div class="card my-4">
        <h5 class="card-header">Arama</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" name="Ara" id="Ara" placeholder="Arama için...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" value="Ara" type="submit">Ara</button>
                </span>
            </div>
        </div>
    </div>
}

